* {
    margin: 0;
    padding: 0;
    font-family: calibri;
}

:root {
    --bg-color: #fefefe;
    --text-color: #0f0f0f;
}

body.dark-mode {
    --bg-color: #0f0f0f;
    --text-color: #fefefe;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.logo {
    margin: 0;
    margin-left: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 0 0 3px var(--text-color);
    border: #fff 1px solid;
    background: linear-gradient(to bottom, #393939, #000000);
}

.header {
    margin: 0;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    margin: 0;
    padding: 20px;
    display: flex;
    list-style: none;
    gap: 20px;
}

a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    font-size: large;
}

.pageHead {
    display: flex;
    justify-content: center;
}

.welcome {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.content {
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    font-size: 20px;
}


/* Page Bio */
.biopageHead {
    /* margin-left: 80px; */
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.bioWrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bioImage img {
    margin: 10px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    box-shadow: 0 0 10px var(--text-color);
    border: var(--bg-color) 1px solid;
}

.bioName {
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
}

.bioName::selection {
    margin: 50px;
    font-size: 16px;
    color: #1877f5;
}

.bioIcon {
    margin: 10px;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.bioIcon .facebook {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.bioIcon .facebook {
    transform: translateY(-10);
}

.bioIcon div i {
    padding: 10px;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 0 4px 8px var(--text-color);
    transition: 0.4s;
}

.bioIcon div .fa-facebook:hover {
    color: #1877f2;
    font-size: 1.5em; 
    box-shadow: 0px 8px 16px #1877f2;
    transition: 0.4s;
}

.bioIcon div .fa-linkedin:hover {
    color: #0077b5;
    font-size: 1.5em; 
    box-shadow: 0px 8px 16px #0077b5;
    transition: 0.4s;
}

.bioIcon div .fa-instagram:hover {
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
    background-clip: text;
    color: transparent;
    font-size: 1.5em; 
    box-shadow: 0px 8px 16px #ff00d4;
    transition: 0.4s;
}

.bioIcon div .fa-tiktok:hover {
    background: linear-gradient(100deg, #25F4EE, var(--text-color), #FE2C55);
    background-clip: text;
    color: transparent;
    font-size: 1.5em; 
    box-shadow: 0px 8px 16px var(--text-color);
    transition: 0.4s;
}

.bioIcon div .fa-github:hover {
    color: var(--text-color);
    font-size: 1.5em; 
    box-shadow: 0px 8px 16px var(--text-color);
    transition: 0.4s;
}


.bioIcon div .fa-youtube:hover {
    color: #ff0000; 
    font-size: 1.5rem;
    box-shadow: 0 8px 16px rgb(255, 0, 0);
    transition: 0.4s;
}

.bioWrapper .bioBio {
    margin: 0;
    padding: 10px;
    text-align: center;
    width: 50%;
    font-weight: bold;
}

/* projects Page */
.projectsDetails {
    margin: 0;
    padding: 10px;
    text-align: center;
    color: #ff0000;
    font-size: 44px;
    font-weight: bold;
}

.container {
    padding: 40px 20px;
    font-size: 1.1rem;
    line-height: 1.6rem;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card {
    height: fit-content;
    width: fit-content;
    padding: 20px;
    margin: 20px;
    background: rgba(255, 255, 255, 0.08) !important;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 8px #1877f5;
    border-radius: 12px;
    transition: transform 0.2s ease;
}

.project-card:hover {
    transform: translateY(-5px);
    transition: transform 0.2s ease;
}

.project-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
}

.project-description {
    font-size: 0.95rem;
    color: #555;
}

.project-link {
    color: #1877f5;
    transition: 0.2s ease;
}

.project-link:hover {
    color: #3089bd;
    transition: 0.2s ease;
}

/* Slider button styling */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.theme-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    box-shadow: 0 0 2px #000;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #000;
    transition: .4s;
}

input:checked+.slider {
    background-color: #000;
    box-shadow: 0 0 2px #fff;
}

input:focus+.slider {
    box-shadow: 0 0 2px #fff;
}

input:checked+.slider:before {
    transform: translateX(26px);
    background-color: #fff;
}

/* Rounded sliders */
.slider.round {
    border-radius: 30px;
}

.slider.round:before {
    border-radius: 50%;
}

/* page-contact */
.contact-getInTouch {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.getInTouch {
    padding: 30px;
}

.with-contactSujanShrestha {
    margin-bottom: 40px;
    padding: 30px;
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
}

.getInTouch img {
    width: 300;
    height: 200px;
    filter: drop-shadow(8px 100px 80px blue);
    margin-bottom: 10px;
}

.getInTouch-form {
    display: grid;
    justify-content: center;
    align-items: center;
}

.getInTouch-form p {
    padding: 30px;
    font-size: large;
}

.contactPageHead {
    margin-top: -30px;
    margin-bottom: -50px;
    padding: 30px;
    display: flex;
    font-size: 30px;
    justify-content: flex-start;
    align-items: center;
}
.contact {
    margin: -20px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

form {
    margin-top: 10px;
    padding: 20px;
    border-radius: 1rem;
    box-shadow: 0 0 10px var(--text-color);
}

.mandatory {
    color: #D9001F;
    font-size: 16px;
}

form input {
    margin-bottom: 10px;
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    height: 10px;
    width: 270px;
    font-size: 16px;
    border: 1px solid var(--text-color);
    border-radius: 8px;
    color: var(--text-color);
    background-color: transparent;
}

form label {
    font-size: large;
    font-weight: bold;
}

form textarea {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    height: 100px;
    width: 270px;
    font-size: 16px;
    border: 1px solid var(--text-color);
    border-radius: 8px;
    color: var(--text-color);
    background-color: transparent;
}

.submit {
    padding: 10px;
    height: 40px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: none;
    border-radius: 0.5rem;
    background-color: var(--text-color);
    color: var(--bg-color);
    font-size: 20px;
    font-weight: bold;
    transition: .4s;
}

.submit:hover {
    cursor: pointer;
    padding: 10px;
    height: 40px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: none;
    border-radius: 0.5rem;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 0 10px var(--text-color);
    transition: .4s;
}

.button-submit {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.footer {
    margin: 0px;
    margin-top: 100vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    background: var(--bg-color);
    box-shadow: 0 0 12px var(--text-color);
}